//MIXIN
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;
          box-shadow: $shadow;
}

// TABS
.nav-tab-container-wrapper {
	//margin-top: 5px;
	max-width: 780px;

	.nav-tab-container {
		//border: 1px solid #CCCCCC;
		//border-top: none;
		min-height: 300px;
		display: none;

		&.nav-tab-container-active {
			display: block;
		}
	}

	.postbox {
		h3 {
			cursor: default;
		}
	}

}

// FORMS
.smi-form {

	.smi-row-input {
		padding: 5px 10px 15px;
		background: none #ffffff;
	}

	.smi-title {
		border-bottom: 1px solid #DFDFDF;
    	margin: 5px 0 15px;
    	padding: 15px 0 5px;
	}

	.smi-row-button {
		border-top: 1px solid #DFDFDF;
		padding: 10px;
	}

	.smi-input-text {
		@include border-radius(4px);
		border: 1px solid #DFDFDF;
		@include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
		padding: 4px 2px;
		font-size:12px;

		&:focus {
			//border-color: #AAAAAA;
			border-color: rgba(82,168,236,.8);
			@include box-shadow(0 0 8px rgba(82,168,236,.6));
		}
	}
}

// ADMIN NOTICE 
.admin-notice {
	@include border-radius(5px);
	border: 1px solid #CCCCCC;
	padding: 8px 35px 8px 14px;
	margin: 2px 0;

	background-color: #DFDFDF;

	&.admin-notice-success {
		background-color: #DFF0D8;
    	border-color: #D6E9C6;
    	color: #468847;
	}

	&.admin-notice-error {
		background-color: #F2DEDE;
    	border-color: #EED3D7;
    	color: #B94A48;
	}

	&.admin-notice-info {
		background-color: #D9EDF7;
    	border-color: #BCE8F1;
    	color: #3A87AD;
	}

	&.admin-notice-warn {
		background-color: #FFFFE0;
    	border-color: #E6DB55;
	}
}